<div layout="column" layout-fill>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <span>gulp-tjutils Example</span>
    </div>
  </md-toolbar>

  <form name="$ctrl.form" ng-submit="$ctrl.submit()">
    <md-content layout="row" layout-align="center start" layout-wrap>

      <md-card flex="100" flex-gt-sm="66">
        <md-card-header>
          <md-card-header-text>
            <span class="md-title">Introduction</span>
          </md-card-header-text>
        </md-card-header>
        <md-card-content>
          <p>Angular example using gulp-tjutils</p>
          <p>Source code is
            <a href="https://github.com/BellerophonMobile/gulp-tjutils" target="_blank">available on GitHub</a>.
          </p>
        </md-card-content>
      </md-card>

      <md-card flex="100" flex-gt-sm="66">
        <md-card-header>
          <md-card-header-text>
            <span class="md-title">Simple Form</span>
          </md-card-title-text>
        </md-card-header>

        <md-card-content>

          <md-input-container class="md-block">
            <label>Name</label>
            <input type="text" name="name" required ng-model="$ctrl.name">
            <div class="hint">
              Can be any any string of characters.
            </div>
          </md-input-container>

          <p>Radio: {{ $ctrl.radio }}</p>
          <md-radio-group name="radio" ng-model="$ctrl.radio" ng-required="true">
            <md-radio-button value="Foo">Foo</md-radio-button>
            <md-radio-button value="Bar">Bar</md-radio-button>
            <md-radio-button value="Baz">Baz</md-radio-button>
          </md-radio-group>

        </md-card-content>

        <md-card-actions layout="row" layout-align="end center">
          <md-button type="submit" class="md-raised md-primary">Submit</md-button>
        </md-card-actions>
      </md-card>

    </md-content>
  </form>
</div>
